.stack {
  display: flex;
}

.stack.column {
  flex-direction: column;
}

.stack.row {
  flex-direction: row;
}

.stack.row.wrap {
  flex-wrap: wrap;
}

/* gap */
.stack.gapXs {
  gap: var(--space-1);
}

.stack.gapSm {
  gap: var(--space-2);
}

.stack.gapMd {
  gap: var(--space-4);
}

.stack.gapLg {
  gap: var(--space-6);
}

.stack.gapXl {
  gap: var(--space-8);
}

/* align */
.stack.alignStart {
  align-items: flex-start;
}

.stack.alignCenter {
  align-items: center;
}

.stack.alignEnd {
  align-items: flex-end;
}

.stack.alignStretch {
  align-items: stretch;
}

/* justify */
.stack.justifyStart {
  justify-content: flex-start;
}

.stack.justifyCenter {
  justify-content: center;
}

.stack.justifyEnd {
  justify-content: flex-end;
}

.stack.justifyBetween {
  justify-content: space-between;
}
